body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a:hover {
    color: #FF8F28;
}

.ways__to a:hover {
    color: #FF8F28;
}

.network__list a:hover {
    color: #FF8F28;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Page */
.page {
    overflow: hidden;
}

/* input */

.input__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

input[type="text"] {
    padding: 13px;
    border-radius: 10px;
    border: 4px solid #fff;
    background-color: #6767641c;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);

}

.input__last {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__checkbox {
    display: flex;
}

input[type="checkbox" i] {
    margin-right: 10px;
}

#checkbox__text {
    padding-right: 10px;
    font-size: 12px;
}

.input__button {
    font-weight: 700;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF8F28;
    color: #fff;
    border-color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    border: 3px solid #FF8F28;
}

.input__button:hover {
    background-color: #fff;
    color: #000;
}

/* Header */
.header {
    background-color: #28CFE6;
    width: 100%;
    padding: 15px 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 15px 0;

    background-color: #28CFE6;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: grey;
}

.header__inner {

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 26px;
    font-weight: 700;
    color: #fff;

    transition: color .1s linear;
}

.header__logo:after {
    content: "";
    display: block;

    height: 3px;

    background-color: #FF8F28;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.header__logo:hover {
    color: #FF8F28;
}

.header__logo:hover:after,
.header__logo.active:after {
    opacity: 1;
}




/* Nav */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    position: relative;

    font-size: 16px;
    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #FF8F28;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #FF8F28;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #FF8F28;
}


/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: #FF8F28;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #FF8F28;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #FF8F28;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

/* Intro */
.intro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    position: relative;

    box-shadow: 0 0 20px rgb(0 0 0 / 30%);

}

.intro::before {
    content: "";
    background: url("../images/fam_sea_2.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
     position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1;
}

.intro__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: ;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 60wh;
    text-align: center;
}

.logotip {
    margin-left: 30px;
    height: 250px;
}

#logotip {
    height: 90%;
}

.intro__info {
    display: block;
}

.intro__title {
    color: #28CFE6;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 50px;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 0px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #4a4545;
}

.intro__message {
    width: 600px;
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

#title__rod {
    color: #FF8F28;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.text__rod {
    color: #000;
    font-size: 19px;
        text-shadow: 1px 0 1px #fff,
        0 1px 1px #fff,
        -1px 0 1px #fff,
        0 -1px 1px #fff;

}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    margin-top: 20px;

    border: 3px solid #FF8F28;
    background-color: #FF8F28;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    font-size: 14px;
    font-weight: 700;
    color: #FFf;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* section__main */

.section__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #FF8F28;
}

.section__suptitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

.section__title {
    padding-top: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
    font-weight: 500;
    color: #28CFE6;
}


/* container__main | consult */

.wrapper__1 {
    padding: 30px;
    width: 1200px;
    margin-top: 20px;
    background-color: #f5f0f0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.container__main {
    display: flex;

}

.consult__img {
    width: 507px;
    margin-right: 30px;
}

.consult__img img {
    width: 507px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 7px;
}

.consult__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.consult__suptitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.consult__title {
    padding-top: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #FF8F28;
}

.consult__text {
    padding-top: 20px;
    font-size: 17px;
}

.consult__list {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list__item {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 10px;

    width: 289px;

    font-size: 16px;

    background-color: #28CFE6;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}


.consult__list a {
    text-decoration: none;
    color: #000;
}



/* contacts */

.contacts {
    margin-top: 50px;
    padding: 50px;
    background-color: #f5f0f0;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.contacts__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.contacts__info {
    margin-left: 30px;
    margin-right: 30px;
}

.contacts__adres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.about__title {
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #FF8F28;
}

.about__suptitle__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__suptitle {
    text-align: center;
    font-size: 17px;
}

.click__gif {
    display: flex;
    margin-top: 5px;
    height: 50px;
    justify-content: center;
}

.about__links {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.about__links a {
    text-decoration: none;
    font-size: 17px;
    color: #333;

}

.about__links img {
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.about__links p {
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.about__image__cont {
    margin: 10px;
    width: 90px;
    text-align: center;
}

.about__image {
    width: 90px;
}

.about__zapis {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: #FF8F28;

}

.about__adress {
    margin-top: 0;
    text-align: center;
    font-size: 17px;
    color: #333;
}

/* We do */
.wedo {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 -15px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.wedo__item {
    width: 100%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    width: 507px;
    height: 345px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 7px;
}

/* Accordion */

.accordion {
    width: 100%
}

.accordion__item {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 20px;
}

.accordion__item.active .accordion__content {
    display: block;
    width: 100%;
}

.accordion__item.active .accordion__header {
    border-bottom-color: grey;
}

.accordion__header.active:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px;
    padding-right: 40px;
    position: relative;

    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid grey;
    border-right: 2px solid grey;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    padding-top: 0;
    display: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    font-size: 17px;
    color: #ff8f28;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgb(0 0 0 / 9%);
}

.ways__to {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
}

.ways__links {
    color: #0005acc9;
    text-decoration: none;
}

.teleg__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.teleg__link a{
    text-decoration: none;
}

.teleg__link img {
    height: 60px;
    margin-left: 30px;
}

.teleg__link p {
    margin-top: 15px;
}


/* grafik */

.grafik {
    margin-top: 40px;
}

.grafik__wrapper__1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grafik__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
}

.grafik__item {
    width: 250px;
    height: 130px;
    margin: 15px;
    padding: 15px;

    border: 2px solid #2020204f;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.grafik__title {
    text-align: center;
}

.grafik__specialist {
    font-weight: 600;
    color: #5b5b5be3;
}

.grafik__time {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* specialists */

.reviews__title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
    color: #28CFE6;
}

.reviews__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #FF8F28;
}

.section--gray {
    margin-top: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    background-color: #f5f0f0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.spec__container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.reviews {
    position: relative;
}

.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    min-height: 210px;
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    display: block;
    width: 210px;
    height: 210px;

    border: 2px solid #FF8F28;
    border-radius: 50%;

    position: absolute;
    top: 17%;
    left: 0;
    z-index: 1;
}

.reviews__text {
    display: flex;
    margin-bottom: 15px;

}

.rev__napravl {
    padding: 10px;
    padding-top: 0;
    width: 60%;
    min-height: 100%;
    border-right: 3px solid #0000001f;
}

.rev__raspis {
    padding: 10px;
    padding-top: 0;
    width: 40%;
    min-height: 100%;
}

.rev__title {
    color: #FF8F28;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}

li::marker {
    color: #00000082;
}

.rev__sovet {
    margin-top: 20px;
    text-transform: uppercase;
}

.rev__sovet a {
    text-decoration: none;
}


.rev__sovet a:hover {
    color: #FF8F28;
}


.rev_bottom_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.reviews__author {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
}

    .rev__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }


.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 3px;
    margin-right: 10px;

    background-color: #28CFE6;
}

.reviews__author:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 3px;
    margin-left: 10px;

    background-color: #28CFE6;
}

.reviews__specialist {
    font-size: 21px;
    font-style: italic;
    font-weight: 300;
    color: #4c4c4c;
}



.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 40%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-top: 4px solid #28CFE6;
    border-left: 4px solid #28CFE6;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
    right: 0;
    transform: rotate(135deg);
}
/******************* Для вас родители *****************/

.for__you__parents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.parents {
    display: flex;
}

.parents__img__cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

.parents__img__cont img{
    width: 100%;
}
/******************* Карта навигации *****************/

.navmap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navmap a{
    text-decoration: none;
    color: #0005acc9;
}


/******************* MODAL SPECIALISTS *****************/



.modal {
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 1rem;

    position: fixed;
    top: 0;
    left: 0;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}

.modal.show {
        visibility: visible;
        z-index: 1000000;
    }

.modal__dialog {
    width: 100%;
    max-width: 600px;
    max-height: 650px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    position: relative;
    border-radius: 20px;

    background-color: #fff;

    transition: transform .2s linear;
}



.modal__content {
    padding: 20px 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 60px;
    height: 100%;
}

.modal__title {
    color: #FF8F28;
    text-align: center;
    font-size: 22px;
}


.modal__close {
    color: #333333;
    font-size: 28px;
    padding: 0;

    background: none;
    border: 0;
    cursor: pointer;

    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1;
    opacity: .7;

    transition: transform .2s linear;
}

.modal__close:hover {
        transform: translateY(-3px);
    opacity: 1;
    }

.modal__list {
    margin-top: 30px;
}

.net__wrapper {
    display: flex;
    justify-content: space-around;
}

.net__img {
    width: 400px;
}

.net__img img {
    width: 400px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 7px;
}

/***************** MEDIA *******************/







@media (max-width: 1230px) {


    .container__main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .wrapper__1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .consult__list {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .consult__img{
        margin-right: 0;
    }

    /* We do */
.wedo {
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.wedo__item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    margin-bottom: 50px;
    width: 507px;
    height: 345px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 7px;
}

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }

    .contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

}


@media (max-width: 1020px) {

    .net__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Nav */

    .nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 0%;
        left: 0;

        background-color: #28CFE6;
        opacity: 93%;
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;

    }


    .header#header {
        background-color: transparent;
    }

    .header.fixed {
        box-shadow: none;
    }

    .intro {
        justify-content: center;
    }

    .intro::before {
        opacity: 0.7;
    }


    .text__rod {
        font-size: 16px;
        font-weight: 700;
    }


    .about__links {
    margin-top: 50px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    }

    .grafik {
    margin-top: 40px;
    }

    .grafik__wrapper__1 {
        display: flex;
        flex-direction: column;
    }

    .grafik__wrapper {
        margin-top: 30px;
        display: flex;
        font-size: 16px;
        flex-direction: row;
    }

    .grafik__item {
        margin: 15px;
        padding: 15px;

        border: 2px solid #2020204f;
        border-radius: 20px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    }

    .grafik__title {
        text-align: center;
    }

    .grafik__specialist {
        font-weight: 600;
        color: #5b5b5be3;
    }

    .grafik__time {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    /* Reviews */
    .reviews .slick-slider {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__item {
        padding-left: 175px;
    }

}

@media (max-width: 770px) {



    .intro__message {
        width: 80%;
    }

    .about__image__cont {
        margin: 10px;
    }

    /* Reviews */
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    .rev_bottom_info {
        position: static;
        margin-bottom: 30px;
    }

    .rev__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .consult__img {
    width: 400px;
    }

    .consult__img img {
        width: 400px;
    }

    .slick-arrow {
    top: 10%;
    }

    .modal__close {
        top: 37px;
    }

}

@media (max-width: 660px) {
    .grafik__wrapper__1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grafik__wrapper {
        margin-top: 30px;
        display: flex;
        font-size: 16px;
        flex-direction: column;
    }
}


@media (max-width: 575px) {

    .net__img {
        width: 300px;
    }

    .net__img img{
        width: 300px;
    }

    .intro__inner {
        width: 100%;
    }

    .logotip{
        height: 220px;
        margin: 0;
    }

    #logotip{
        height: 220px;
    }

        /* We do */
.wedo {
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.wedo__item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 7px;
}

/* Reviews */

    .reviews .slick-slider {
        padding: 0;
    }

    .consult__img {
    width: 300px;
    }

    .consult__img img {
        width: 300px;
    }

    .reviews__author {
    font-size: 17px;
    }

    .reviews__author:after {
        display: none;
    }

    .reviews__author:before {
        display: none;
    }

    .parents__img__cont {
        width: 300px;
    }

    .modal__dialog {
        height: 500px;
    }
}


@media (max-width: 350px) {

    .logotip {
        width: 100%;
        margin: 0;
    }

    #logotip {
        width: 100%
    }

    .section__title {
        font-size: 30px;
    }

    .section__suptitle {
        font-size: 22px;
    }
}
